<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <div class="background">
            <img src="images/bg_techo.png">
        </div>
        <a href="#user"><img class="circle" src="images/logo_2.jpeg"></a>
        <a href="#name"><span class="blue-text name "><%=admin_details.full_name %></span></a>
        <a href="#email"><span class="blue-text email"><%=admin_details.email %></span></a>
    </div>
    </li>
    <li><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="/students">Students List</a></li>
    <li><a href="/add_project_incomes">New Project</a></li>
    <li><a href="/enrolled_courses">Enrolled Courses/Projects</a></li>
    <li><a href="/incomes">Incomes From Training</a></li>
    <li><a href="/go_to_add_courses">Add Courses</a></li>
    <li><a href="/view_courses">View Courses</a></li>
    <li><a href="/admin_logout">Logout</a></li>
    <li><div class="divider"></div></li>
    <!--<li><a class="subheader"> Incomes From Training</a></li>-->
    <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
</ul>


<div class="fixed-action-btn">
    <a data-target="slide-out" class="btn-floating btn-large red sidenav-trigger">
        <i class="large material-icons">menu</i>
    </a>
    <!--<ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>-->
</div>
